<div class="row">
    <div class="column-center">
        <button class="button-outline" (click)="updateElephants()">Load Elephant Birthday Calendar</button>
    </div>
</div>
{{elephants | json }}
<div class="row">
    <div class="column">
        <table>
            <thead>
                <tr>
                    <!-- <th>Id</th> -->
                    <th>Name</th>
                    <th>Family</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let elephant of elephants" (click)="onSelect()">
                    <!-- <td>{{elephant.id}}</td> -->
                    <td>{{elephant.name}}</td>
                    <td>{{elephant.family}}</td>
                    <td>{{elephant.birthday | date:'mediumDate'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>